@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Frank+Ruhl+Libre:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.desplegar {
  color: #c6a05f;
  text-align: right;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.titulo {
  font-family: 'Water Brush', cursive;
  font-size: 30px;
}

.text-5xl {
  font-family: 'Water Brush', cursive;
  font-size: 80px;
  text-align: center;

}

.self-center {
  font-family: 'Water Brush', cursive;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  margin-top: 30px;
  flex-direction: column;
}

.wrapper .icon {
  position: relative;
  background: #c6a05f;
  border-radius: 50%;
  padding: 15px;
  margin: 35px;
  width: 80px;
  height: 80px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #b76c6c;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}



.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: rgb(228, 64, 173);
  color: #ffffff;
}


.wrapper .whats:hover,
.wrapper .whats:hover .tooltip,
.wrapper .whats:hover .tooltip::before {
  background: #42cd1f;
  color: #ffffff;
}

.wrapper .mail:hover,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
  background: #cd1f1f;
  color: #ffffff;
}

.ul {
  margin-right: 50px;
}

.dorado {
  color: #c6a05f;
}

/* Estilos para pantallas más pequeñas (max-width: 667px) */
@media (max-width: 667px) {
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Frank+Ruhl+Libre:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

  .grid-cols-2 {
    grid-template-columns: none;
  }

  .titulo {
    font-size: 28px;
    font-family: "Dancing Script" cursive;

  }

  .text-5xl {
    font-size: 30px;
    visibility: hidden;

  }

  .text-xl {
    font-size: 1rem;
    margin-top: -50px;
    line-height: 1.5rem;
    width: 100%;
    font-weight: 400;
  }

  .form {
    margin-left: 5px;
    margin-top: -5px;
  }


  .text-2xl {
    margin-top: -50px;
    margin-left: 30px;
    font-size: 25px;
  }

  .inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .font-medium {
    padding: 0.5rem
  }

  .rounded-xl {
    align-items: center;
    margin-right: 110px;
    margin-top: 20px;
    width: 90%;
    height: 90%;
  }



  .wrapper .icon {
    width: 40px;
    height: 40px;
  }

  .text-3xl {
    visibility: hidden;
  }

  .text-2xl {
    font-size: larger;
    margin-right: 17px;
  }

  .self-center {
    align-items: center;
    margin-top: 5px;
    font-family: "Dancing Script" cursive;
    margin-left: -6px;
    font-size: 20px;
  }
}

/* Pantallas grandes */
@media (min-width: 768px) {}

/* Aquí van las reglas CSS para pantallas extra grandes */
@media (min-width: 1200px) {}